<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../assets/css/styles.css">
</head>

<body>

    <script src="../../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../../assets/js/validations.js"></script>

    <form id="productForm">
        <h1>Add New Product</h1>
        <label for="productName">Product Name:</label>
        <input type="text" id="productName" name="productName" required>
        <label for="productPrice">Price:</label>
        <input type="number" id="productPrice" name="productPrice" required>

        <div class="buttons">
            <button type="button" id="cancelButton">Cancel</button>
            <button type="submit" id="saveButtonProduct" class="saveButton">Save</button>
        </div>

        <p class="centered">Created and designed by: Marcelo Dueñas</p>
    </form>
</body>

</html>